OPENAI_API_KEY="{your Open AI API key here}"
OPENAI_MODEL="gpt-3.5-turbo-0125"
GITHUB_USERNAME="{your gitbub username here}"

DB_HOST="{get it from Ramki here}"
DB_NAME="{get it from Ramki here}"
DB_USERNAME="{get it from Ramki here}"
DB_PASSWORD="{get it from Ramki here}"

LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="{your langchain key here}"
LANGCHAIN_PROJECT={your github username here}-electoralbonds"
